.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 5px; /* Space between category Buttons */
    margin-bottom: 20px; /* Space between categories and the product list */
    justify-content: center; /* Center Buttons on mobile devices */
}

.categories button {
    background-color: #007bff;
    color: #ffffff; /* Text color */
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth background color transition */
}

.categories button:hover {
    background-color: #0056b3; /* Darker shade for hover */
}

.categories button.active {
    background-color: #0056b3;
}

/* Adaptations for tablets */
@media (max-width: 1024px) {
    .categories {
        gap: 8px; /* Reduced space between category Buttons */
    }
    .categories button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

/* Adaptations for mobile devices */
@media (max-width: 768px) {
    .categories {
        gap: 10px;
        flex-direction: column; /* Stack Buttons vertically */
        align-items: center; /* Center Buttons */
    }
    .categories button {
        font-size: 12px;
        padding: 6px 12px;
    }
}

/* Adaptations for very small screens */
@media (max-width: 480px) {
    .categories {
        gap: 12px; /* Maximum reduced space between category Buttons */
    }
    .categories button {
        font-size: 10px;
        padding: 4px 8px;
    }
}